h1{
    font-size: 42px;
}
#home_banner{
    background: url(../images/home_bg_banner.png) center no-repeat;
    background-size: cover;
    text-align: center;
}
#home_banner h1{
    color: white;
}
#home_banner p{
    color: white;
}
#home_banner ul{
    
}